A {TEXT-DECORATION: none}
.menu-up { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #002969 ; font-weight: normal}
.standar { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #002969 }
.titulo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #002969 ; font-weight: bold }
.capitular { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #002969 ; text-transform: uppercase; font-style: normal}
.input { color: #002969 ; font-size: 9pt; font-weight: normal}
.menu { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #002969 ; font-weight: bold ; clip:   rect(   )}
.menu2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #002969 ; font-weight: bold ; clip: rect( ) ; background-color: #DAE4F2}
