A{TEXT-DECORATION: none}
A:active{TEXT-DECORATION: none;COLOR: #ff0000}
A:visited{TEXT-DECORATION: none;COLOR: #006699}
A:link{TEXT-DECORATION: none;COLOR: #004477}
.menu-up { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #002969 }
.standar { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #002969 }
.titulo { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #002969 ; font-weight: bold }
.capitular { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #002969 ; text-transform: uppercase; font-style: normal}
.input { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #002969 ; font-weight: bold; border: 1px #002969 solid}
.inputDis { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #004477 ; font-weight: bold; border: 1px #002969 solid; background-color: #DAE4F2}
.menu { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #002969 ; font-weight: bold ; padding-bottom: 2px; padding-top: 1px; padding-left: 4px}
.menu2 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #002969 ; font-weight: bold ; background-color: #DAE4F2; padding-bottom: 2px; padding-top: 1px; padding-left: 8px}
